.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #212121;
}
.header > .logo > h1 {
  color: white;
  margin: 0;
  font-size: 1.25rem;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}
.header ul li {
    padding: 0.5rem 1rem;
}
.header ul li a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}
.header ul li a:hover,
.header ul li a:focus {
    color: orange;
}